.descontoInss {
    color: #dad72f;
  }
  
  .descontoIrrf {
    color: #bb0d27;
  }
  
  .salarioLiquido {
    color: #1a551a;
  }
  
  .bar {
    height: 50px;
  }
  
  .valores {
    color: #fff;
  }